<header>
<%= stylesheet_link_tag 'user', media: 'all', 'data-turbolinks-track': 'reload' %>
</header>
<nav class="nav">
  <%= link_to_if(user_signed_in?, 'Sign Out', destroy_user_session_path, data: { turbo_method: :delete }) %>
  <%= link_to_unless(user_signed_in?, 'Login', new_user_session_path) %>
  <%= link_to 'Sign Up', new_user_registration_path %>
</nav>

<ul class="list-group">
  <% @users.each do |user| %>
    <li class="list-group-item">
      <% if user.photo.present? %>
        <%= image_tag user.photo, class: 'user-photo' %>
      <% end %>

      <!-- Display user's username -->
      <span class="user-username"><%= user.name %></span>
      <span class="user-posts-count"> Number of posts<%= user.posts.count%></span>

      <!-- Add a link to the user's profile -->
      <%= link_to 'View Profile', user_path(user), class: 'btn btn-primary' %>
    </li>
  <% end %>
</ul>
