<h1>Create a Post</h1>
<%= form_with(model: @post, url: posts_path) do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title, required: true %><br>

  <%= form.label :text %>
  <%= form.text_area :text, required: true%><br>

  <%= form.submit "Create Post" %>
<% end %>
