
<body>
  <nav class="nav">
    <%= link_to "Home", root_path %>
    <%= link_to "Back", :back %>
  </nav>
  
  <% flash.each do |key, value| %>
    <div class="flash <%= key %>">
      <%= value %>
    </div>
  <% end %>

  <%= render partial: 'posts/post', locals: { post: @post } %> <br>

  <% if @post.comments.empty? %>
    <p>No comments for this post</p>
  <% else %>
    <div class="comments">
      <% @post.comments.each do |comment| %>
        <%= render partial: 'comments/comment', locals: { comment: comment } %>
      <% end %>
    </div>
  <% end %>

  <div class="like-comment">
    <%= render partial: 'comments/create', locals: { comment: Comment.new(post: @post), post: @post } %>
    
    <% if Like.where(user_id: User.first.id, post_id: @post.id).exists? %>
      <p id="liked">Liked</p>
    <% else %>
      <%= render partial: 'likes/create', locals: { like: Like.new(post: @post), post: @post } %>
    <% end %>
  </div>
</body>
